header {
  width: 100%;
  background-color: #111;
  color: white;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  cursor: pointer;
}
